<h2>Edit Listing</h2>

  <div class="sidebar">
    <a href="/listings">All Listings</a>
    <br><br>
    <a href="/categories">All Categories</a>
    <br><br>
    <a href="/my_listings">My Listings</a>
    <br><br>
    <a href="/logout">Log Out</a>
    <br><br>
    
    <h6><dl>
        <dt>COMMUNITY GUIDELINES:</dt>
          <dd>- No personal clothing or jewelry</dd>
          <dd>- PayPal, Venmo, or CashApp Only</dd>
          <dd>- Transactions are at your own risk</dd>
          <dd>- Make transfer arrangements safely</dd>
          <dd>- All sales are FINAL</dd>
          
          <dd>- Send inquiries or 
          <a href="mailto:LeslieGonzalez@me.com?Subject=SansGarage" target="_top">report abuse here.</a></dd>
       </dl></h6>
    </div>


	 <% if flash.has?(:input_error) %>
     <%= flash[:input_error] %>
   <% end %>

   <% if flash.has?(:message) %>
     <%= flash[:message] %>
   <% end %>

<br>
  <form method="POST" action="/items">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
	  <label for="name">Name: <input type="text" size="35" name="item[name]" id="name" placeholder="Item name"></label>
    <br><br>
    <label for="quantity">Quantity: <input type="text" name="item[quantity]" id="quantity" placeholder="Enter a number"></label>
    <br><br>
    <label for="condition">Condition: <input type="text" name="item[condition]" id="condition" placeholder="New/Good/Fair/Repair"></label>
    <br><br>
	  <label for="price">Price: $<input type="text" name="item[price]" id="price" placeholder="Enter 0 if free"></label>
    <br><br>
    <br>
    <label><b>Category:</b></label>
    <br><br>
  
    <% Category.all.each do |category| %>
      <input type="radio" name="item[category_id]" id="<%= category.id %>" value="<%= category.id %>" required> <%= category.name %><br>
    <% end %>

    <br><br>
	<input type="submit" value="Update">
  </form>
<br>


