<h2>Edit Listing</h2>

  <div class="sidebar">
    <a href="/listings">All Listings</a>
    <br><br>
    <a href="/categories">All Categories</a>
    <br><br>
    <a href="">My Listings</a>
    <br><br>
    <a href="/logout">Log Out</a>
    <br><br>
    
    <h6><dl>
        <dt>COMMUNITY GUIDELINES:</dt>
          <dd>- No personal clothing or jewelry</dd>
          <dd>- PayPal, Venmo, or CashApp Only</dd>
          <dd>- Transactions are at your own risk</dd>
          <dd>- Make transfer arrangements safely</dd>
          <dd>- All sales are FINAL</dd>
          
          <dd>- Send inquiries or 
          <a href="mailto:LeslieGonzalez@me.com?Subject=SansGarage" target="_top">report abuse here.</a></dd>
       </dl></h6>
    </div>

  

  <% if flash.has?(:input_error) %>
    <%= flash[:input_error] %>
  <% end %>

<br>
  <form method="POST" action="/items">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
	  <label for="name">Name: <input type="text" name="item[name]" id="Name" placeholder="Your name"></label>
    <br><br>
    <label for="quantity">Quantity: <input type="text" name="item[quantity]" id="Quantity" placeholder="Enter a number"></label>
    <br><br>
    <label for="condition">Condition: <input type="text" name="item[condition]" placeholder="New/Good/Fair/Repair"></label>
    <br><br>
	  <label for="price">Price: <input type="password" name="item[price]" placeholder="Enter 0 for free"></label>
    <br><br>

    <h5><label>Categories:</label></h5>
    <br><br>
    <% Category.all.each do |category| %>
      <input type="checkbox" id="<%= category.name %>" name="item[categories][]" value="<%= category.id %>" <%='checked' if @item.categories.include?(category) %>>
    <%= category.name %>
    
    <br>
  <% end %>

    <br><br>
	  <input type="submit" value="Update">
  </form>
  <br><br>
  <br><br>
  <form method="POST" action="/items/<%= @item.id %>/delete">
    <input type="hidden" id="hidden" name="_method" value="DELETE" />
    <input type="submit" value="Delete Listing"/>
  </form>
  <br><br>


