<h1>View Items by Category <%= @user.name %></h1>

#Code below is incorrect

<% @item_category.each do |c| %>
  <div>
    <%= item.name %>
    <%= item.quantity %>
    <%= item.condition %>
    <%= item.price %>
  </div>
<% end %>
  <br><br>
  <br><br>
  <h3><a href="/item/new">Add Another Listing</a></h3>
  <br><br>
  <br><br>
  <h3><a href="/tweets">View All Listings</a></h3>
  <br><br>
  <br><br>
  <h3><a href="/logout">Log Out</a></h3>
  <br>