<h2><%= @category.name %></h2>

<% @category.items.each do |item| %>
  <div>
    <%= item.name %>
    <%= item.quantity %>
    <%= item.condition %>
    <%= item.price %>
  </div>
<% end %>


  <br><br>
  <br><br>
  <h4><a href="/item/new">Add a New Listing</a></h4>
  <br><br>
  <h4><a href="/listings">View All Listings</a></h4>
  <br><br>
  <h4><a href="/logout">Log Out</a></h4>