<h2>All Listings</h2>

  <div class="sidebar">
    <a href="/categories">View Categories</a>
    <br><br>
    <a href="/item/new">Add Listing</a>
    <br><br>
    <a href="">My Listings</a>
    <br><br>
    <a href="/logout">Log Out</a>
    <br><br>
    
    <h6><dl>
        <dt>COMMUNITY GUIDELINES:</dt>
          <dd>- No personal clothing or jewelry</dd>
          <dd>- PayPal, Venmo, or CashApp Only</dd>
          <dd>- Transactions are at your own risk</dd>
          <dd>- Make transfer arrangements safely</dd>
          <dd>- All sales are FINAL</dd>
          
          <dd>- Send inquiries or 
          <a href="mailto:LeslieGonzalez@me.com?Subject=SansGarage" target="_top">report abuse here.</a></dd>
       </dl></h6>
    </div>

  <nav>
    <% if logged_in? %>

      <h3>Welcome, <%= current_user.name %></h3>

      <a href="/item/new"> Post a New Listing </a>
      <br><br>
      <br><br>
      <a href="/logout"> Log Out </a>
    
    <% else %>
  
      <p>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>

    <%end %>
    
  </nav>

    <br><br>
    <br><br>

  <% @item.items.each do |i| %>
  <h3><%= item.name %> (<%= item.quantity %>)</h3>
  <h4><%= item.condition %></h4>
  <h4>$<%= item.price %> USD</h4>
  <br><br>
  <h4><%= item.user.name %></h4>
  <h4><%= item.user.phone %></h4>
  <h4><%= item.user.email %></h4>
<% end %>


