<h2>Welcome, <%= current_user.name %></h2>

<h4>All Listings</h4>

<% @items.each do |item| %>
  <div>
    <%= item.name %>
    <%= item.quantity %>
    <%= item.condition %>
    <%= item.price %>
  </div>
<% end %>

  <br><br>
  <br><br>
  <a href="/item/new">Add Listing</a>
  <br><br>
  <br><br>
  <a href="/logout">Log Out</a>
  <br>