<h2>All Listings</h2>

  <div class="sidebar">
    <a href="/categories">All Categories</a>
    <br><br>
    <a href="/items/new">Add Listing</a>
    <br><br>
    <a href="/my_listings">My Listings</a>
    <br><br>
    <a href="/logout">Log Out</a>
    <br><br>
    
    <h6><dl>
        <dt>COMMUNITY GUIDELINES:</dt>
          <dd>- No personal clothing or jewelry</dd>
          <dd>- PayPal, Venmo, or CashApp Only</dd>
          <dd>- Transactions are at your own risk</dd>
          <dd>- Make transfer arrangements safely</dd>
          <dd>- All sales are FINAL</dd>
          
          <dd>- Send inquiries or 
          <a href="mailto:LeslieGonzalez@me.com?Subject=SansGarage" target="_top">report abuse here.</a></dd>
       </dl></h6>
    </div>

  <nav>
    <% if logged_in? %>

      <h3>Welcome, <%= current_user.name %>!</h3>
      
      <br><br>

      <% @items.all.each do |item| %>
        <div>
          <b><%= item.name %>(<%= item.quantity %>) ~ <%= item.condition %> condition. $<%= item.price %></b><br>
          Call <%= item.user.name %> at <%= item.user.phone %>, or email: <%= item.user.email %><br><br>
        </div>
     <% end %>
    
      <% else %>
  
        <p>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>

      <%end %>
    
  </nav>

    <br><br>
    <br><br>





