<h1><%= @user.name %>'s Current Listings</h1>

  <div class="sidebar">
    <a href="/listings">All Listings</a>
    <br><br>
    <a href="/categories">All Categories</a>
    <br><br>
    <a href="/item/new">Add Listing</a>
    <br><br>
    <a href="/logout">Log Out</a>
  </div>

<% @user.items.each do |item| %>
  <div>
    <%= item.name %>
    <%= item.quantity %>
    <%= item.condition %>
    <%= item.price %>
  </div>
<% end %>


