<h1>View Your Listing <%= @user.name %></h1>

<% @user.items.each do |item| %>
  <div>
    <%= item.name %>
    <%= item.quantity %>
    <%= item.condition %>
    <%= item.price %>
  </div>
<% end %>
  <br><br>
  <br><br>
  <h3><a href="/item/new">Add Another Listing</a></h3>
  <br><br>
  <br><br>
  <h3><a href="/tweets">View All Listings</a></h3>
  <br><br>
  <br><br>
  <h3><a href="/logout">Log Out</a></h3>
  <br>