<h2><%= @item.name %></h2>

  <div class="sidebar">
    <a href="/listings">All Listings</a>
    <br><br>
    <a href="/categories">All Categories</a>
    <br><br>
    <a href="/my_listings">My Listings</a>
    <br><br>
    <a href="/logout">Log Out</a>
  </div>

  <br>
  
      <b>Count: <%= @item.quantity %><br><br>
      Condition: <%= @item.condition %><br><br>
      Price: $<%= @item.price %> USD<br><br>
      Listing Id# <%= @item.id %></h5><br></b>


  <br><br>
  <br><br>

  
  <% if logged_in? %>
  <h4>Would you like to <a href="/item/:id/edit">edit this item</a> <%= @current_user.name %>?</h4>
  <br><br>
  <br><br>
    
      <form method="POST" action="/items/<%= @item.id %>/delete">
        <input type="hidden" id="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete Item"/>
      </form>
    
  <br><br>
  <br><br>
  <h4><a href="/item/new">Add a New Listing</a></h4>
  <% end %>
  <br><br>
 

